.layout {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.leftlayout {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 3;
    box-sizing: border-box;
    height: 100vh;
    position: sticky;
    left: 0;
    top: 0;
    bottom: 0;
    grid-row-start: 1;
    grid-row-end: 3;

}

.rightlayout {
    grid-column-start: 3;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 3;
}

.navbar {
    position: sticky;
    top: 0;
}

.routes {
    width: 100%;
}