.layout {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.leftlayout {
    grid-column-start: 1;
    grid-column-end: 3;
    border: 2px solid #ccc;
    box-sizing: border-box;
    height: 100vh;
    grid-row-start: 1;
    grid-row-end: 3;
}

.rightlayout {
    grid-column-start: 3;
    grid-column-end: 10;
}

.navbar {
    /* width: 100%; */
}