

.TextEditor {
    background-color: var(--transparent-color);
    margin: 1.5rem 0;
    width: 24rem;
    height: 0;
    transition: border 0.1s linear;
  }
  
  .TextEditor:focus-within {
    border: 2px solid var(--hover-color);
  }
  
  .TextEditor:hover {
    border-color: var(--border-color);
  }

  .textarea {
    background-color: aquamarine;
  }

  .toolbar-class {
    margin: 0;
    border: none;
    border-radius: 0;
    padding: 0.5rem 0.2rem;
    border-bottom: 2px solid var(--glass-border-color);
    background-color: var(--transparent-color-2);
    transition: border 0.1s linear;
  }
  .tox-notification {
    display: none !important; 
    visibility: hidden !important;
  }
  
  .tox-statusbar__branding {
    display: none !important;
  }
  
  .tox .tox-edit-area__iframe {
    background-color: #1e1e1e !important;
    color: white !important;
  }
  
  .tox-menubar button {
    color: white !important;
  }
  
  .tox-menubar {
    background-color: #1e1e1e !important;
  }
  
  .tox .tox-mbtn:hover:not(:disabled):not(.tox-mbtn--active) {
    background: #3f3f3f !important;
  }
  
  .tox .tox-mbtn--active {
    background: #3f3f3f !important;
  }
  
  .tox .tox-menu {
    background-color: #1c1c1c !important;
    color: white !important;
  }
  
  .tox-collection__item {
    color: white !important;
  }
  
  .tox-collection__item--active {
    background: #3f3f3f !important;
  }
  
  .tox-menu {
    border: 1px solid #464646 !important;
  }
  
  .tox-toolbar-overlord,
  .tox-toolbar__primary,
  .tox-toolbar__group,
  .tox-toolbar__group button,
  .tox-icon {
    background-color: #1c1c1c !important;
    border-color: #464646 !important;
    color: white !important;
  }
  
  .tox-toolbar__primary {
    border-bottom: 1px solid #464646 !important;
  }
  
  .tox .tox-tbtn--disabled svg,
  .tox .tox-tbtn svg {
    fill: white !important;
  }
  
  .tox .tox-collection--list .tox-collection__item--enabled,
  .tox .tox-collection--list .tox-collection__item--enabled {
    background-color: #6c6c6c !important;
  }
  
  .tox-statusbar {
    background-color: #1f1f1f !important;
  }
  
  .tox-statusbar__path .tox-statusbar__path-item,
  .tox-statusbar__wordcount,
  .tox-collection__item-accessory,
  .tox-statusbar__path button {
    color: white !important;
  }
  
  .tox-tinymce {
    border: none !important;
  }
  
  .tox:not(.tox-tinymce-inline) .tox-editor-header{
    padding: 0 0 !important;
  }

  .tox .tox-editor-header>.tox-toolbar--scrolling, .tox .tox-toolbar-overlord .tox-toolbar--scrolling:first-child{
    background-color: #1c1c1c !important;
    border-bottom: 2px solid #1c1c1c;
  }

  .tox .tox-toolbar-overlord>.tox-toolbar{
    background-color: #1c1c1c !important;
  }
  .tox .tox-toolbar-overlord>.tox-toolbar, .tox .tox-toolbar-overlord>.tox-toolbar__overflow, .tox .tox-toolbar-overlord>.tox-toolbar__primary{
    background-color: #1c1c1c !important;
  }

  .tox .tox-tab {
    color: var(--text-color);
  }

  .CodeEditor{
    width: 100%;
  box-sizing: border-box;
  border: 2px solid var(--glass-border-color);
  background-color: var(--transparent-color-2);
  transition: border 0.1s linear;
  }

  
  .CodeEditor:focus-within {
    border: 2px solid var(--hover-color);
  }
  
  .CodeEditor:hover:not(.CodeEditor:focus-within) {
    border-color: var(--border-color);
  }

  .code_editor_textarea {
    box-sizing: border-box;
    width: 100%;
    height: 10rem;
    background-color: transparent;
    resize: vertical;
    color: var(--text-color);
    font-size: 0.65rem;
    border: none;
    padding: 0.3rem 0 0.3rem 0.3rem;
  }

  .code_editor_textarea:focus {
    outline: 0px;
  }
  
  .testCases {
    border: 2px solid var(--glass-border-color); 
  }

  .Cases {
    border: 2px solid var(--glass-border-color); 
  
  }
  
  input {
    background-color: var(--mode);
    border: 2px solid var(--glass-border-color);
  }

  .testCases:hover , .Cases:hover, input:hover{
    border: 2px solid var(--border-color); 
  }

  .testCases:focus-within , .Cases:focus-within, input:focus{
    border: 2px solid var(--hover-color); 
    outline: none;
  }