.TextEditor {
    box-sizing: border-box;
    /* width: 95vw !important; */
  }

.TextEditor {
    background-color: var(--transparent-color);
    margin: 1.5rem 0;
    /* width: 24rem; */
    height: 0;
    transition: border 0.1s linear;
  }
  
  .TextEditor:focus-within {
    border: 2px solid var(--hover-color);
  }
  
  .TextEditor:hover {
    border-color: var(--border-color);
  }

  .textarea {
    background-color: aquamarine;
  }