.navbar {
    border: 1px solid rgb(78, 76, 76);
}

.logo {
    color: var(--hover-color);
    flex: 22%;
    padding: 0.5rem 0 0.5rem 0;
}

.right {
    flex: 78%;
    right: 0;
    justify-content: end;
    padding: 0.75rem 1rem 0.75rem 0;
    background-color: var(--glass-border-color);
}