.mainNavbar {
    padding: 0.75rem 1rem 0.75rem 0;
    background-color: var(--transparent-color) !important;
    backdrop-filter: blur(8px) !important;
    user-select: none;
    border-bottom: 1px solid var(--glass-border-color);

}

.right {
    flex: 78%;
    justify-content: end;
    color: var(--text-color);
}