.navbar {
    /* border: 1px solid rgb(78, 76, 76); */
    border: 2px solid blue;
    padding: 0.75rem 1rem 0.75rem 0;
    background-color: var(--transparent-color);

}

.right {
    flex: 78%;
    /* right: 0; */
    justify-content: end;
}