.sidebar {

    width: 100%;
    border: 1px solid var(--glass-border-color);
    color: var(--text-color);

}

.logo {
    padding: 0.75rem 1rem 0.75rem 0;
    border: 1px solid var(--glass-border-color);
    width: 100%;
    color: var(--hover-color);

}

.ruler {
    border: 0.15rem solid var(--mode);
    padding-top: 3.1rem;
}

.link:hover .ruler {
    border: 0.15rem solid var(--hover-color)
}

.link:hover {
    background-color: var(--background-color);
    color: var(--hover-color);
}

.Question-list {
    /* opacity: 0; */
    /* transition: opacity 0.5s ease-in-out, height 0.5s ease-in-out; */
}